extends layout

block body
  main
    aside.images
      h3.is-hidden Works
      each image in images
        .images__wrap(style='background-image: url(images/' + image + ')')

    section.contents
      h1.logo-wrap
        span.is-hidden Fynöggeli
        include logo.svg
      include:markdown-it ../data/text/about.md
      include:markdown-it ../data/text/contact.md

