extends layout

block body
  main
    aside.images
      h3.is-hidden Arbeiten
      each image in images
        .images__wrap.js-slide(style='background-image: url(images/' + image + ')')

    section.contents
      h1.logo-wrap
        span.is-hidden Fynöggeli
        include logo.svg
        a.toggle.js-toggle(href="#")
          span En savoir plus / Mehr erfahren
      div.contents__inner
        article
          h2.is-hidden Über mich
          include:markdown-it ../data/text/about.md
        aside.contact
          include:markdown-it ../data/text/contact.md
