doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title fynöggeli
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='format-detection', content='telephone=no')

    link(rel='stylesheet', href='css/style.css')

  body
    block body
    script.
      const $d = document;
      const $slides = $d.querySelectorAll('.js-slide');
      let slides = [];
      let currentSlide = 0;

      [].forEach.call($slides, function ($slide) {
        slides.push($slide);
        $slide.style['z-index'] = 1;
      });

      function getNextSlide(i) {
        return i > slides.length - 1 ? 0 : i;
      }

      function showNextSlide(i) {
        let $slide = slides[i];
        slides[getNextSlide(i)].style['z-index'] = 200;
        $slide.style['z-index'] = 300;
        $slide.classList.add('play');
        setTimeout(t => {
          $slide.style['z-index'] = 100;
          $slide.classList.remove('play');
          let nextI = i + 1;
          showNextSlide( getNextSlide(nextI) );
        },5000)
      }

      setTimeout(t => {
        showNextSlide(slides.length - 1);
      },5000);



