@import 'normalize-scss/sass/normalize';
@import 'dialog-settings/dist/dialog-settings';


@import 'design.json';
@include settings($design);

$base-font-size: setting(font-size);
$base-line-height: $base-font-size + (setting(leading)/2);
$base-unit: 'rem';
$base-font-family: setting(font);

$h1-font-size: 2    * $base-font-size;
$h2-font-size: 1.5  * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1    * $base-font-size;

$indent-amount: 40px;

@include normalize();

body {
  background: setting(background-color);
  color: setting(text-color);
}

img {
  display: block;
}

.logo-wrap {
  margin: 0;
}
.logo {
  display: block;
  width: (setting(logo-width)/setting(content-width)) * 100%;
  height: auto;
  margin: 0 auto;
  path {
    fill: setting(logo-color);
  }
}

.images {
  &__wrap {
    height: 100vh;
    overflow: hidden;
  }
  &__image {
    object-fit: cover;
    width: 100%;
  }
}
.contents {
  position: fixed;
  top: setting(bezel-website);
  left: setting(bezel-website);
  width: (setting(content-width)/setting(design-width)) * 100%;
  min-width: setting(content-width);

  box-sizing: border-box;
  padding: setting(bezel-content);
  background-color: setting(background-color);
}

.is-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
